@keyframes fly {
  0% {
    transform: translateX(-300%);
  }
  30% {
    transform: translateX(-200%) translateY(20%);
  }
  68% {
    transform: translateX(50%) translateY(-20%);
  }
  100% {
    transform: translateX(380%) translateY(30%);
  }
}

.beeflyImgShow {
  animation-duration: 2s;
  animation-name: fly;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.beeBG {
  position: relative;
  margin: -2rem auto;
  width: 100vw;
  .bg {
    width: 100vw;
  }
  .bgDark {
    display: none;
    width: 100vw;
  }
  .beeFly {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    .beeflyImg {
      transform: translateX(-300%);
      transition: transform 2s ease;
    }
    h2 {
      color: white;
      font-size: 6rem;
    }
  }
}
////////////////////////////////////////DARK MODE////////////////////////////////////
.beeBGDark {
  position: relative;
  margin: -2rem auto;
  width: 100vw;
  .bg {
    display: none;
    width: 100vw;
  }
  .bgDark {
    width: 100vw;
  }
  .beeFly {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    .beeflyImg {
      transform: translateX(-300%);
    }
    h2 {
      color: white;

      font-size: 6rem;
    }
  }
}

@media screen and (max-width: 1200px) {
  @keyframes flyRes {
    0% {
      transform: translateX(-300%);
    }
    30% {
      transform: translateX(-200%) translateY(20%);
    }
    68% {
      transform: translateX(50%) translateY(-20%);
    }
    100% {
      transform: translateX(380%);
    }
  }
  .beeBG {
    margin-top: 40rem;
    position: relative;

    .bgDark {
      display: none;
    }
    .beeFly {
      .beeflyImg {
        width: 10rem;
        animation-duration: 2s;
        animation-name: flyRes;
        animation-iteration-count: infinite;
        animation-direction: alternate;
      }
      h2 {
        color: white;
        font-size: 2rem;
      }
    }
  }
  .beeBGDark {
    position: relative;
    margin-top: 40rem;

    .bg {
      display: none;
    }
    .bgDark {
      width: 100%;
      margin: 0 auto;
    }
    .beeFly {
      .beeflyImg {
        width: 10rem;
        animation-duration: 2s;
        animation-name: flyRes;
        animation-iteration-count: infinite;
        animation-direction: alternate;
      }
      h2 {
        color: white;
        font-size: 2rem;
      }
    }
  }
}
