* {
    box-sizing: border-box;
    outline: none;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
}

body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    color: #6b6b6b;
    font-size: 1.6rem;
    min-height: 100vh;
    max-width: 100vw;
}