.darkModeBTNDark {
  background-color: transparent;
}
.darkModeBTNDark p {
  color: white;
  margin-left: 4.5rem;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6rem;
  height: 65px;
}
nav .logo {
  font-size: 3rem;
}
nav .darkModeToggle .darkModeBTN {
  background-color: transparent;
}
nav .darkModeToggle .darkModeBTN p {
  color: black;
  margin-left: 4.5rem;
  font-size: 2rem;
  align-items: center;
}
nav .navigation {
  display: flex;
}
nav .navigation .navLink {
  list-style: none;
  padding: 0 2rem;
}
nav .navigation .navLink a {
  font-size: 2.5rem;
  text-decoration: none;
}
nav .navigation .navLink a:after {
  display: block;
  content: "";
  width: 0;
  height: 1px;
  background-color: #6b6b6b;
  transition: width 0.4s;
}
nav .navigation .navLink a:hover:after {
  width: 100%;
}
nav .switch {
  position: absolute;
}
nav .switch .toggle .slider {
  transition: 0.3s cubic-bezier(0.95, 0.05, 0.795, 0.035);
  width: 4rem;
  height: 2rem;
  display: block;
  border-radius: 2rem;
  background-color: rgba(0, 0, 0, 0.06);
  position: relative;
}
nav .switch .toggle .slider:after {
  transition: 0.3s cubic-bezier(0.95, 0.05, 0.795, 0.035);
  content: "";
  width: 2rem;
  height: 2rem;
  display: block;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
}
nav .switch .toggle input {
  display: none;
}
nav .switch .toggle input:checked + .slider {
  background-color: #FBD40C;
}
nav .switch .toggle input:checked + .slider:after {
  left: 2rem;
}
nav .burger {
  display: none;
}

@media screen and (max-width: 767.98px) {
  nav .navigation {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    width: 0;
    height: calc(100vh - 65px);
    position: absolute;
    top: 65px;
    right: 0;
    transition: all 0.5s ease-in-out;
    padding: 2rem;
  }
  nav .navigation .navLink {
    transform: translateX(101%);
    transition: all 0.5s ease-in-out;
  }
  nav .navigation .navLink a {
    display: block;
    padding: 1rem;
    font-size: 2.5rem;
    transition: all 0.4s ease-in-out;
  }
  nav .navigation .navLink a:hover {
    padding-left: 4rem;
  }
  nav .navActiv {
    width: 100%;
    z-index: 40;
  }
  nav .navActiv .navLink {
    transform: translate(0);
  }
  nav .navActiv .one {
    transition: all 1s ease-in-out;
  }
  nav .navActiv .two {
    transition: all 1.1s ease-in-out;
  }
  nav .navActiv .three {
    transition: all 1.2s ease-in-out;
  }
  nav .navActiv .four {
    transition: all 1.3s ease-in-out;
  }
  nav .burger {
    display: block;
    position: relative;
    padding: 0;
    border: none;
    background: transparent;
    cursor: pointer;
  }
  nav .burger .bar {
    display: block;
    width: 4.5rem;
    height: 0.4rem;
    border-radius: 3rem;
    background: #6b6b6b;
    transition: all 0.5s ease-in-out;
  }
  nav .burger .bar:before {
    content: "";
    width: 4.5rem;
    height: 0.4rem;
    position: absolute;
    left: 0;
    background: #6b6b6b;
    border-radius: 3rem;
    transform: translateY(-12px);
    transition: all 0.5s ease-in-out;
  }
  nav .burger .bar:after {
    content: "";
    width: 4.5rem;
    height: 0.4rem;
    position: absolute;
    left: 0;
    background: #6b6b6b;
    border-radius: 3rem;
    transform: translateY(12px);
    transition: all 0.5s ease-in-out;
  }
  nav .burger .barActiv {
    background: transparent;
  }
  nav .burger .barActiv:before {
    transform: rotate(45deg);
  }
  nav .burger .barActiv:after {
    transform: rotate(-45deg);
  }
}
@keyframes fly {
  0% {
    transform: translateX(-300%);
  }
  30% {
    transform: translateX(-200%) translateY(20%);
  }
  68% {
    transform: translateX(50%) translateY(-20%);
  }
  100% {
    transform: translateX(380%) translateY(30%);
  }
}
.beeflyImgShow {
  animation-duration: 2s;
  animation-name: fly;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.beeBG {
  position: relative;
  margin: -2rem auto;
  width: 100vw;
}
.beeBG .bg {
  width: 100vw;
}
.beeBG .bgDark {
  display: none;
  width: 100vw;
}
.beeBG .beeFly {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.beeBG .beeFly .beeflyImg {
  transform: translateX(-300%);
  transition: transform 2s ease;
}
.beeBG .beeFly h2 {
  color: white;
  font-size: 6rem;
}

.beeBGDark {
  position: relative;
  margin: -2rem auto;
  width: 100vw;
}
.beeBGDark .bg {
  display: none;
  width: 100vw;
}
.beeBGDark .bgDark {
  width: 100vw;
}
.beeBGDark .beeFly {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.beeBGDark .beeFly .beeflyImg {
  transform: translateX(-300%);
}
.beeBGDark .beeFly h2 {
  color: white;
  font-size: 6rem;
}

@media screen and (max-width: 1200px) {
  @keyframes flyRes {
    0% {
      transform: translateX(-300%);
    }
    30% {
      transform: translateX(-200%) translateY(20%);
    }
    68% {
      transform: translateX(50%) translateY(-20%);
    }
    100% {
      transform: translateX(380%);
    }
  }
  .beeBG {
    margin-top: 40rem;
    position: relative;
  }
  .beeBG .bgDark {
    display: none;
  }
  .beeBG .beeFly .beeflyImg {
    width: 10rem;
    animation-duration: 2s;
    animation-name: flyRes;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
  .beeBG .beeFly h2 {
    color: white;
    font-size: 2rem;
  }

  .beeBGDark {
    position: relative;
    margin-top: 40rem;
  }
  .beeBGDark .bg {
    display: none;
  }
  .beeBGDark .bgDark {
    width: 100%;
    margin: 0 auto;
  }
  .beeBGDark .beeFly .beeflyImg {
    width: 10rem;
    animation-duration: 2s;
    animation-name: flyRes;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
  .beeBGDark .beeFly h2 {
    color: white;
    font-size: 2rem;
  }
}
.contact {
  background-color: #fff9e3;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}
.contact form .name {
  display: flex;
}
.contact form .champs {
  padding: 3rem 6rem 0 6rem;
}
.contact form .champs input {
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #8b7fd4;
  padding: 1rem;
}
.contact form label {
  color: #8b7fd4;
  font-family: "Roboto", sans-serif;
  font-size: 3rem;
  padding: 2rem;
}
.contact form .submit {
  display: flex;
  justify-content: center;
}
.contact form .submit input {
  cursor: pointer;
  border: none;
  width: 20%;
  color: white;
  background-color: #8b7fd4;
  margin-top: 6rem;
  padding: 1.5rem;
  border-radius: 3rem;
  font-size: 3rem;
}
.contact h2 {
  color: #d6d1f3;
  margin: 6rem;
  font-size: 8rem;
}

.contactDark {
  background-color: #68579A;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.contactDark form {
  margin: 6rem;
}
.contactDark form .name {
  display: flex;
}
.contactDark form .champs {
  padding: 3rem 6rem 0 6rem;
}
.contactDark form .champs input {
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid white;
  padding: 1rem;
}
.contactDark form label {
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 3rem;
  padding: 2rem;
}
.contactDark form .submit {
  display: flex;
  justify-content: center;
}
.contactDark form .submit input {
  cursor: pointer;
  border: none;
  width: 20%;
  color: #68579A;
  background-color: white;
  margin-top: 6rem;
  padding: 1.5rem;
  border-radius: 3rem;
  font-size: 3rem;
}
.contactDark h2 {
  color: #d6d1f3;
  margin: 6rem;
  font-size: 8rem;
}

@media screen and (max-width: 1200px) {
  .contact {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
  .contact form label {
    font-size: 2rem;
  }
  .contact form .submit input {
    font-size: 2rem;
  }
  .contact h2 {
    margin: 0 auto;
    font-size: 2rem;
  }

  .contactDark {
    background-color: #68579A;
    flex-direction: column-reverse;
    align-items: center;
  }
  .contactDark form label {
    font-size: 2rem;
  }
  .contactDark form .submit input {
    font-size: 2rem;
  }
  .contactDark h2 {
    margin: 0 auto;
    font-size: 2rem;
  }
}
@keyframes instagram {
  from {
    transform: translateY(0rem) rotate(-20deg);
  }
  to {
    transform: translateY(12rem) rotate(80deg);
  }
}
@keyframes facebook {
  from {
    transform: translateY(20rem) rotate(-20deg);
  }
  to {
    transform: translateY(-5rem) rotate(-80deg);
  }
}
@keyframes mail {
  from {
    transform: translateY(10rem) rotate(0);
  }
  to {
    transform: translateY(-8rem) rotate(-80deg);
  }
}
@keyframes in {
  from {
    transform: translateY(-6rem) rotate(-20deg);
  }
  to {
    transform: translateY(6rem) rotate(80deg);
  }
}
footer {
  margin-top: 20rem;
}
footer .network {
  display: flex;
  justify-content: space-around;
}
footer .network a img {
  width: 14rem;
}
footer .network a .facebook {
  animation-duration: 2s;
  animation-name: facebook;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
footer .network a .insta {
  animation-duration: 2s;
  animation-name: instagram;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
footer .network a .mail {
  animation-duration: 2s;
  animation-name: mail;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
footer .network a .linkedin {
  animation-duration: 2s;
  animation-name: in;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
footer .footerBG img {
  width: 100vw;
  margin: 0 auto;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.darkMode {
  background: #38253f;
  color: white;
}
.darkMode h5 {
  color: white;
}
.darkMode p, .darkMode a {
  color: white;
}
.darkMode h6 {
  color: white;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
  color: #6B6B6B;
  overflow-x: hidden;
}
body h1 {
  font-family: "Plaster", cursive;
  margin: 0;
}
body h2 {
  font-family: "Plaster", cursive;
  margin: 0;
}
body h3 {
  font-family: "Plaster", cursive;
  margin: 0;
}
body h4 {
  font-family: "Plaster", cursive;
  margin: 0;
}
body h5 {
  font-family: "Homemade Apple", cursive;
  margin: 0;
  color: black;
}
body p, body a {
  font-family: "Roboto", sans-serif;
  margin: 0;
  color: black;
  text-decoration: none;
}
body h6 {
  font-family: "Plaster", cursive;
  margin: 0;
  font-size: 5rem;
  color: #6B6B6B;
}

.honeyCubeDark {
  background-color: #68579a;
  padding: 10rem;
  position: absolute;
  text-align: center;
  right: 50%;
  top: 20%;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  border-radius: 5rem;
}
.honeyCubeDark .honeyLogo {
  width: 45rem;
}
.honeyCubeDark .honeyLogo h2 {
  font-size: 5rem;
}

.title {
  display: flex;
  justify-content: center;
  margin-top: 14%;
}
.title .titleImg {
  position: relative;
  left: 10%;
}
.title .titleImg img {
  width: 100%;
}
.title .titleImg .titleText {
  position: absolute;
  text-align: center;
  top: 0;
  right: 50%;
  width: 60%;
}
.title .titleImg .titleText h5 {
  font-size: 2.5rem;
}
.title .titleImg .titleText h1 {
  font-size: 8rem;
}
.title .titleImg .titleText .beeTitle {
  width: 60%;
}
.title .titleImg .beekeeperShow {
  transform: translateX(0);
  background-color: #d6d1f3;
  border-radius: 50%;
  padding: 8rem;
  transition: transform 2s ease;
}
.title .titleImg .beekeeperShow .brun {
  position: relative;
  right: 30%;
}
.title .titleImg .beekeeperShow .brun img {
  width: 20rem;
}
.title .titleImg .beekeeperShow .brun img:hover {
  transform: rotate(-30deg);
  transition: 0.4s;
}
.title .titleImg .beekeeperShow .brun .blond {
  position: absolute;
  top: 0;
  left: 50%;
}
.title .titleImg .beekeeperShow .brun .blond img {
  width: 25rem;
}
.title .titleImg .beekeeperShow .brun .blond img:hover {
  transform: rotate(30deg);
  transition: 0.4s;
}
.title .titleImg .beekeepertitleShow {
  transform: translateX(-20%);
  margin-left: 20rem;
  transition: transform 2s ease;
}
.title .titleImg .beekeeper {
  position: absolute;
  display: flex;
  justify-content: space-around;
  align-items: center;
  top: 33%;
  right: 22%;
}
.title .titleImg .beekeeper .beekeperLogo {
  background-color: #d6d1f3;
  border-radius: 50%;
  padding: 8rem;
  transform: translateX(-200%);
  transition: transform 2s ease;
}
.title .titleImg .beekeeper .beekeperLogo .brun {
  position: relative;
  right: 30%;
}
.title .titleImg .beekeeper .beekeperLogo .brun img {
  width: 20rem;
}
.title .titleImg .beekeeper .beekeperLogo .brun img:hover {
  transform: rotate(-30deg);
  transition: 0.4s;
}
.title .titleImg .beekeeper .beekeperLogo .brun .blond {
  position: absolute;
  top: 0;
  left: 50%;
}
.title .titleImg .beekeeper .beekeperLogo .brun .blond img {
  width: 25rem;
}
.title .titleImg .beekeeper .beekeperLogo .brun .blond img:hover {
  transform: rotate(30deg);
  transition: 0.4s;
}
.title .titleImg .beekeeper .beekeperTitle {
  margin-left: 20rem;
  transform: translateX(180%);
  transition: transform 0.4s ease;
}
.title .titleImg .honey {
  position: absolute;
  align-items: center;
  top: 45%;
  left: 35%;
  transform: translate(-50%);
}
.title .titleImg .honey .bigbug {
  position: relative;
  display: flex;
  justify-content: space-around;
}
.title .titleImg .honey .bigbug .bug {
  min-width: 100vw;
}
.title .titleImg .honey .bigbug .honeyCube {
  background-color: #fff9e3;
  padding: 10rem;
  position: absolute;
  text-align: center;
  right: 50%;
  top: 20%;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  border-radius: 5rem;
}
.title .titleImg .honey .bigbug .honeyCube .honeyLogo {
  width: 45rem;
}
.title .titleImg .honey .bigbug .honeyCube .honeyLogo h2 {
  font-size: 5rem;
}
.title .titleImg .honey .bigbug .company {
  position: absolute;
  right: 15%;
  top: 33%;
  transform: rotate(90deg);
}
.title .titleImg .honey .bigbug .company h5 {
  font-size: 2.5rem;
}

@media screen and (max-width: 1200px) {
  .title {
    display: flex;
    flex-direction: column;
    margin-top: 10%;
  }
  .title .titleImg {
    display: flex;
    flex-direction: column;
  }
  .title .titleImg img {
    width: 100%;
  }
  .title .titleImg .titleText {
    text-align: center;
    top: 35%;
    left: 30%;
    transform: translate(-30%, -35%);
  }
  .title .titleImg .titleText .beeTitle {
    width: 100%;
    margin-bottom: 5rem;
  }
  .title .titleImg .beekeeper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 65%;
    left: 30%;
    transform: translate(-30%);
  }
  .title .titleImg .beekeeper .beekeperLogo {
    background-color: #d6d1f3;
    border-radius: 50%;
    padding: 8rem;
  }
  .title .titleImg .beekeeper .beekeperLogo .brun {
    position: relative;
    right: 30%;
  }
  .title .titleImg .beekeeper .beekeperLogo .brun img {
    width: 20rem;
  }
  .title .titleImg .beekeeper .beekeperLogo .brun img:hover {
    transform: rotate(-30deg);
    transition: 0.4s;
  }
  .title .titleImg .beekeeper .beekeperLogo .brun .blond {
    position: absolute;
    top: 0;
    left: 50%;
  }
  .title .titleImg .beekeeper .beekeperLogo .brun .blond img {
    width: 25rem;
  }
  .title .titleImg .beekeeper .beekeperLogo .brun .blond img:hover {
    transform: rotate(30deg);
    transition: 0.4s;
  }
  .title .titleImg .honey {
    align-items: center;
    top: 100%;
    left: 15%;
    transform: translate(-50%);
  }
  .title .titleImg .honey .bigbug .bug {
    min-width: 100vw;
  }
  .title .titleImg .honey .bigbug .honeyCube {
    background-color: #fff9e3;
    padding: 10rem;
    text-align: center;
    left: 10%;
    top: 5%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    border-radius: 5rem;
  }
  .title .titleImg .honey .bigbug .honeyCube .honeyLogo {
    width: 25rem;
  }
  .title .titleImg .honey .bigbug .honeyCube .honeyLogo h2 {
    font-size: 2rem;
  }
  .title .titleImg .honey .bigbug .honeyCubeDark {
    padding: 10rem;
    text-align: center;
    left: 10%;
    top: 5%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    border-radius: 5rem;
  }
  .title .titleImg .honey .bigbug .honeyCubeDark .honeyLogo {
    width: 25rem;
  }
  .title .titleImg .honey .bigbug .honeyCubeDark .honeyLogo h2 {
    font-size: 2rem;
  }
  .title .titleImg .honey .bigbug .company {
    right: -25%;
    top: 30%;
    transform: rotate(90deg);
  }
}
.beekeeperNav {
  position: relative;
  margin-top: 10rem;
}
.beekeeperNav img {
  width: 15rem;
}
.beekeeperNav .homeBtn {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.beekeeperNav .homeBtn a p {
  font-size: 3rem;
  color: #f8d41a;
}

.beekeeperDetails {
  display: flex;
  justify-content: end;
}
.beekeeperDetails .beekeeperDetail {
  display: flex;
  justify-content: center;
  cursor: move;
}
.beekeeperDetails .beekeeperDetail .beekeeperInfos {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.beekeeperDetails .beekeeperDetail .beekeeperInfos img {
  width: 200px;
}
.beekeeperDetails .beekeeperDetail .beekeeperInfos .beekeeperInfo {
  position: absolute;
  text-align: center;
}
.beekeeperDetails .beekeeperDetail .beekeeperInfos .beekeeperInfo h1 {
  color: white;
  font-size: 2rem;
}
.beekeeperDetails .beekeeperDetail .beekeeperInfos .beekeeperInfo p {
  color: white;
  font-size: 1rem;
}
.beekeeperDetails .beekeeperDetail .beekeeperInfos:hover img {
  width: 400px;
}
.beekeeperDetails .beekeeperDetail .beekeeperInfos:hover .beekeeperInfo {
  position: absolute;
  text-align: center;
}
.beekeeperDetails .beekeeperDetail .beekeeperInfos:hover .beekeeperInfo h1 {
  color: white;
  font-size: 4rem;
}
.beekeeperDetails .beekeeperDetail .beekeeperInfos:hover .beekeeperInfo p {
  color: white;
  font-size: 2rem;
}

/*# sourceMappingURL=main.css.map */
