.beekeeperNav {
  position: relative;
  margin-top: 10rem;
  img {
    width: 15rem;
  }
  .homeBtn {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    a {
      p {
        font-size: 3rem;
        color: #f8d41a;
      }
    }
  }
}

.beekeeperDetails {
    display: flex;
    justify-content: end;
  .beekeeperDetail {
    display: flex;
    justify-content: center;
    cursor: move;
    .beekeeperInfos {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 200px;
      }
      .beekeeperInfo {
        position: absolute;
        text-align: center;
        h1 {
          color: white;
          font-size: 2rem;
        }
        p {
          color: white;
          font-size: 1rem;
        }
      }
      &:hover {
        img {
          width: 400px;
        }
        .beekeeperInfo {
          position: absolute;
          text-align: center;
          h1 {
            color: white;
            font-size: 4rem;
          }
          p {
            color: white;
            font-size: 2rem;
          }
        }
      }
    }
  }
}
