.beekeeperLogoDark {
  background-color: #473a6d;
}

/////////////////////////////// HOME ///////////////////////////////

.title {
  display: flex;
  justify-content: center;
  margin-top: 10%;

  .titleImg {
    position: relative;
    left: 10%;

    img {
      width: 100%;
    }
    .titleText {
      position: absolute;
      text-align: center;
      top: 0;
      right: 50%;
      width: 60%;
      .beeTitle {
        width: 60%;
      }
    }
    /////////////////////////////BEEKEEPER////////////////////////////////////////
    .beekeeperShow {
      transform: translateX(0);
      background-color: #d6d1f3;
      border-radius: 50%;
      padding: 8rem;
      transition: transform 2s ease;
      .brun {
        position: relative;
        right: 30%;
        img {
          width: 20rem;
          &:hover {
            transform: rotate(-30deg);
            transition: 0.4s;
          }
        }
        .blond {
          position: absolute;
          top: 0;
          left: 50%;
          img {
            width: 25rem;
            &:hover {
              transform: rotate(30deg);
              transition: 0.4s;
            }
          }
        }
      }
    }
    .beekeepertitleShow {
      transform: translateX(0);
      margin-left: 20rem;
      transition: transform 2s ease;
      a {
        color: #6b6b6b;
      }
    }
    .beekeeper {
      position: absolute;
      display: flex;
      justify-content: space-around;
      align-items: center;
      top: 33%;
      right: 22%;

      .beekeperLogo {
        background-color: #d6d1f3;
        border-radius: 50%;
        padding: 8rem;

        transform: translateX(-200%);
        transition: transform 2s ease;
        .brun {
          position: relative;
          right: 30%;
          img {
            width: 20rem;
            &:hover {
              transform: rotate(-30deg);
              transition: 0.4s;
            }
          }
          .blond {
            position: absolute;
            top: 0;
            left: 50%;
            img {
              width: 25rem;
              &:hover {
                transform: rotate(30deg);
                transition: 0.4s;
              }
            }
          }
        }
      }
      .beekeperTitle {
        margin-left: 20rem;
        transform: translateX(180%);
        transition: transform 0.4s ease;
        a {
          color: #6b6b6b;
        }
      }
    }
    /////////////////////////////HONEY////////////////////////////////////////
    .honey {
      position: absolute;
      align-items: center;
      top: 55%;
      left: 35%;
      transform: translate(-50%);
      .bigbug {
        position: relative;
        display: flex;
        justify-content: space-around;
        z-index: -240;
        .bug {
          min-width: 100vw;
          
        }
        .honeyCube {
          background-color: #fff9e3;
          padding: 10rem;
          position: absolute;
          text-align: center;
          right: 50%;
          top: 5%;
          width: 100%;
          display: flex;
          justify-content: flex-end;
          border-radius: 5rem;
          .honeyLogo {
            width: 45rem;
          }
        }
        .company {
          position: absolute;
          right: 25%;
          top: 20%;
          transform: rotate(90deg);
        }
      }
    }
  }
}

/////////////////////////////// HOME RESPONSIV ///////////////////////////////

@media screen and (max-width: 767.98px) {
  .title {
    display: flex;
    justify-content: center;
    margin-top: 10%;
    .titleImg {
      display: flex;
      flex-direction: column;
      img {
        width: 100%;
      }
      .titleText {
        text-align: center;
        top: 35%;
        left: 30%;
        transform: translate(-30%, -35%);
        .beeTitle {
          width: 100%;
          margin-bottom: 5rem;
        }
      }
      .beekeeper {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        top: 65%;
        left: 30%;
        transform: translate(-30%);
        .beekeperLogo {
          background-color: #d6d1f3;
          border-radius: 50%;
          padding: 8rem;
          .brun {
            position: relative;
            right: 30%;
            img {
              width: 20rem;
              &:hover {
                transform: rotate(-30deg);
                transition: 0.4s;
              }
            }
            .blond {
              position: absolute;
              top: 0;
              left: 50%;
              img {
                width: 25rem;
                &:hover {
                  transform: rotate(30deg);
                  transition: 0.4s;
                }
              }
            }
          }
        }
        .beekeperTitle {
          margin: 0 auto;
          padding-top: 2rem;
          a {
            color: #6b6b6b;
          }
        }
      }
    }
  }
}
